$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$use-fadeIn: true;
$use-tada: true;

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "animate-sass/_animate.scss";
// endbower

@import "font-awesome/scss/font-awesome.scss";

body {
    -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}
.animated {
    @include animate-prefixer(animation-duration, $base-duration);
    @include animate-prefixer(animation-fill-mode, both);

    &.hinge {
        @include animate-prefixer(animation-duration, $base-duration * 2);
    }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  // padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer .pull-right {
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 10px solid #252525;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 40px;
    padding-bottom: 19px;
  }

  h1 {
    margin-left: 10px;
  }

  img {
    margin: 5px;
    width: 50px;
    height: 50px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 10px solid #252525;
  span {
    margin-left: 10px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.insta-pics {
  width: 100px;
  height: 100px;
  display: inline;
  padding-top: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    // margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .resume-modal {
    min-height: 250px;
  }

  .insta-pics {
    min-height: 200px;
    min-width: 200px;
  }
}

.img-section {
  text-align: center;
  background-repeat: no-repeat no-repeat;
  background-color: black;
}

.landing-img {
    @extend .img-section;
    // background-image: url('../images/mountain.png');
    background-image: url('../images/palm_trees.png');
    // background-size: auto;
    background-size: 1330px 998px;
    // background-position: 61% 259%;
    background-position: 52% -44%;
}

.about-img {
  @extend .img-section;
  background-image: url('../images/santa_monica.png'), url('../images/nyc.png');
  // background-size: 800px 600px, 800px 600px;
  background-size: 655px 499px, 655px 499px;
  // background-position: -50% 0%, 150% 0%;
  background-position: 15% 45%, 85% 45%;
  // background-image: url('../images/city-merge.png');
  // background-size: 655px 499px;
  // background-position: 52% 0%;
  // background-image: url('../images/sky.png');
  // background-position: 50% 77%;

}

.resume-img {
  @extend .img-section;
  // background-image: url('../images/forest.png');
  // background-position: 50% 77%;
  // background-color:#171717;
  text-align: inherit;
}

.contact-img {
  @extend .img-section;
  // background-image: url('../images/planes.png');
  // background-position: 0% 51%;
  background-image: url('../images/concert.png');
  // background-size: 665px 499px;
  background-size: 1330px 998px;
  background-position: 50% 73%;
}

.wordplay-header {
  padding-top:128px;
  padding-bottom:10px;
}

.wordplay-link {
  color: #4DDB94;
  text-decoration: underline;
  // font-weight: bold;
}

.wordplay-link:hover {
  color: #369968;
}

.wordplay-tag {
  padding-bottom:10px;
  font-size:130%;
  color: white;
}

.wrapper {
    width:100%;
    height: 100%;
}

.landing-textbox {
  height: 560px;
  // margin-top: 200px;
  //padding-top: 200px;
}

.landing-header {
  padding-top: 200px;
}
.resume-textbox{
  height: 600px;
}

.about-textbox{
  height: 535px;
}

.contact-textbox {
  height: 600px;
}

//http://bavotasan.com/2011/circular-images-with-css3/
.circular {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
	width: 280px;
	height: 280px;
	border-radius: 140px;
	-webkit-border-radius: 140px;
	-moz-border-radius: 140px;
	background: url(../images/headshot.png) no-repeat;
  background-position: 0% 12%;
  background-size: 103%;
	// box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	// -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	// -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

// http://stackoverflow.com/a/19601276
.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 20px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  background-color: white;
}

.btn-circle .icon-color {
  color: gray;
}

.btn-circle:hover .icon-color {
  color: black;
}

.resume-btn {
  margin-top: 200px;
  // margin-bottom:30px;
}

p {
  @extend .tahoma;
  font-size: 1.5em;
  color: white;
}

/* Container DIV - automatically generated */
.simply-scroll-container {
	position: relative;
}

/* Clip DIV - automatically generated */
.simply-scroll-clip {
	position: relative;
	overflow: hidden;
}

/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.simply-scroll-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.simply-scroll-list li img {
	border: none;
	display: block;
}

/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */

/* Container DIV */
.simply-scroll {
	// width: 100%;
	width: 500px;
	height: 200px;
	margin-bottom: 0;
  top: -20em;
}

/* Clip DIV */
.simply-scroll .simply-scroll-clip {
	// width: 100%;
	width: 500px;
	height: 200px;
}

/* Explicitly set height/width of each list item */
.simply-scroll .simply-scroll-list li {
	float: left; /* Horizontal scroll only */
	width: 200px;
	height: 200px;
  margin: 10px;
}

#instafeed {
  // top: -20em;
  position: relative;
  a {
    padding: 10px;
  }
}

.nav-pills-offset {
  margin-top: 1em;
}

.resume-modal {
  width: 100%;
  position: relative;
  min-height: 500px;
}

.text {
  @extend .tahoma;
  color: white;
}

//https://css-tricks.com/text-blocks-over-image/
.about-div {
  border-radius: 20px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.4);
  // background: rgba(95, 98, 110, 0.7);
}

.about-header {
  color: white;
  // color: #FFFF99;
  // font-weight: bold;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.about-blurb {
  font-size: 1.3em;
  // color: #FFFF99;
  // font-weight: bold;
}

.email-text {
  color: #194B7D;
  text-decoration: underline;
  font-weight: bold;
}

.email-text:hover {
  color: #123458;
}

.divider-line {
  border-width: 3px 0;
}

.badge-style {
  border-radius: 1em;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #FF3300;
}

.badge-style:hover .animated .tada{
}

//http://www.w3schools.com/cssref/css_websafe_fonts.asp
.times {
  font-family: "Times New Roman", Times, serif;
}

.trebuchetms {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.tahoma {
  font-family: Tahoma, Geneva, sans-serif;
}

.lucida {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.courier {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.verdana {
  font-family: Verdana, Geneva, sans-serif;
}

.font-selected {
  background: #DADADA;
}

@media screen and (max-width: 435px) and (min-width:0px){
    .about-blurb {
      font-size: 1em;
    }

    .contact-img {
      background-position: 26% 59%;
    }
}

@media screen and (max-width: 363px) and (min-width:0px){
  .landing-img {
      background-position: 50% -73%;
    }
}

@media screen and (max-width: 421px) and (min-width:380px){
  .nav-pills-offset {
    margin-top: -0.1em;
  }

  .header {
    img {
      margin: 0px;
      width: 20px;
      height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      // display: none;
    }
  }
}

@media screen and (max-width: 380px) and (min-width:0px){
  .nav-pills-offset {
    margin-top: -2.8em;
  }

  .header {
    img {
      margin: 0px;
      width: 20px;
      height: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      // display: none;
    }
  }
}
